# See https://atom.io/docs/latest/creating-a-package#menus for more details
"context-menu":
  "atom-text-editor": [
    {
      "label": "SVN"
      "submenu": [
        {
          "label": "Add"
          "command": "SVN:addFromEditor"
        }
        {
          "label": "Blame"
          "command": "SVN:blameFromEditor"
        }
        {
          "label": "Commit"
          "command": "SVN:commitFromEditor"
        }
        {
          "label": "Commit project"
          "command": "SVN:commitProject"
        }
        {
          "label": "Diff"
          "command": "SVN:diffFromEditor"
        }
        {
          "label": "Log"
          "command": "SVN:logFromEditor"
        }
        {
          "label": "Revert"
          "command": "SVN:revertFromEditor"
        }
        {
          "label": "Rename"
          "command": "SVN:renameFromEditor"
        }
        {
          "label": "Update"
          "command": "SVN:updateFromEditor"
        }
        {
          "label": "Update project"
          "command": "SVN:updateProject"
        }
      ]
    }
  ],
  ".tree-view": [
    {
      "label": "SVN",
      "submenu": [
        {
          "label": "Add"
          "command": "SVN:addFromTreeView"
        }
        {
          "label": "Blame"
          "command": "SVN:blameFromTreeView"
        }
        {
          "label": "Commit"
          "command": "SVN:commitFromTreeView"
        }
        {
          "label": "Commit project"
          "command": "SVN:commitProject"
        }
        {
          "label": "Diff"
          "command": "SVN:diffFromTreeView"
        }
        {
          "label": "Log"
          "command": "SVN:logFromTreeView"
        }
        {
          "label": "Revert"
          "command": "SVN:revertFromTreeView"
        }
        {
          "label": "Rename"
          "command": "SVN:renameFromTreeView"
        }
        {
          "label": "Update"
          "command": "SVN:updateFromTreeView"
        }
        {
          "label": "Update project"
          "command": "SVN:updateProject"
        }
      ]
    }
  ]
"menu": [
  {
    "label": "Packages"
    "submenu": [
      "label": "SVN"
      "submenu": [
        {
          "label": "Add"
          "command": "SVN:addFromEditor"
        }
        {
          "label": "Blame"
          "command": "SVN:blameFromEditor"
        }
        {
          "label": "Commit"
          "command": "SVN:commitFromEditor"
        }
        {
          "label": "Commit project"
          "command": "SVN:commitProject"
        }
        {
          "label": "Diff"
          "command": "SVN:diffFromEditor"
        }
        {
          "label": "Log"
          "command": "SVN:logFromEditor"
        }
        {
          "label": "Revert"
          "command": "SVN:revertFromEditor"
        }
        {
          "label": "Rename"
          "command": "SVN:renameFromEditor"
        }
        {
          "label": "Update"
          "command": "SVN:updateFromEditor"
        }
        {
          "label": "Update project"
          "command": "SVN:updateProject"
        }
      ]
    ]
  }
]
